@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string greeting = "Hiya!";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Don't Wine About It</title>
    <link rel="stylesheet" href="~/Styles/Reset.css" />
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
</head>
<body class="bg">

    <section class="form-section">
        <h1>@greeting!</h1>

        @* Use get or post method in form? And 'action' attr in form is path to where I want to send the form input to, namely Results view *@
        <form method="post">
            <label for="WinePrice">Wine Price</label>
            <input type="text" maxlength="10" name="TargetPrice" />

            <label for="PointRating">Point Rating</label>
            <input type="number" maxlength="2" name="WineRating" />

            <button type="submit">Submit!</button>
        </form>
    </section>

</body>
</html>